body {
    margin: 0;  /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.navegador{
    width: 1200px;
    height: 100px;
    border: 1px solid white;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.vida, .tiempo, .score{
    width: 300px;
    height: 30px;
    position: relative;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
}
img{
    width: 30px;
    height: 30px;
}
#game-container {
    width: 1500px;        
    height: 600px;        
    overflow: hidden;     
    position: relative;   
    background-color: black; 
    border: 1px solid white;
}
#game {
    display: grid;
    grid-template-rows: repeat(30, 30px);    /* Cambia a 30 filas */ 
    grid-template-columns: repeat(50, 30px); /* Cambia a 30 columnas */
}
.exit {
    background-color: green; /* Color verde para la salida */
}
.cell {
    width: 30px;   /* Tamaño de la celda */
    height: 30px;  /* Tamaño de la celda */
}

.wall {
    background-color: blue; /* Color de los muros */
}

.pacman {
    background-color: yellow; /* Color de Pac-Man */
}
.enemy {
    background-color: red; /* Color del enemigo */
}