body {
    margin: 0;  /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./ImagenJuego/MarFondo.png);
    background-size: cover;
}
.navegador{
    width: 1200px;
    height: 100px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border: 1px black solid;
    background-color: rgba(62, 55, 55, 0.8);;
}
.vida, .tiempo, .score{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.heart-lost{
    width: 21px;
    height: 21px;
    margin: 5px;
}
.block {
    position: absolute;
    width: 30px;  /* Tamaño del bloque */
    height: 30px; /* Tamaño del bloque */
    background-color: green;
    z-index: 10;  /* Asegurarte de que esté por encima de otras celdas */
}
img{
    width: 30px;
    height: 30px;
}
#game-container {
    width: 1375px;
    height: 550px;     
    overflow: hidden;     
    position: relative;   
    background-image: url(./ImagenJuego/Warm_Ocean.png);
    background-size: cover;
}
#game {
    display: grid;
    grid-template-rows: repeat(30, 27.5px);    
    grid-template-columns: repeat(50, 27.5px); 
}
.exit {
    background-image: url(./ImagenJuego/boat.png);
    background-size: cover;
}
.cell {
    width: 27.5px;   /* Tamaño de la celda */
    height: 27.5px;  /* Tamaño de la celda */
}

.wall {
    background-image: url(./ImagenJuego/prisma.png);
    background-size: cover;
}
.The_World{
    background-image: url(./ImagenJuego/fishingnet.png);
    background-size: cover;
}
.point{
    background-image: url(./ImagenJuego/petroleo.png);
    background-size: cover;
}
.BIG{
    background-image: url(./ImagenJuego/heartPablo.png);
    background-size: cover;
}
.pacman {
    background-image: url(./ImagenJuego/buzoRight.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pacman_up {
    background-image: url(./ImagenJuego/buzoUp.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.pacman_down {
    background-image: url(./ImagenJuego/buzoDown.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.pacman_left {
    background-image: url(./ImagenJuego/buzoLeft.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.pacman_right {
    background-image: url(./ImagenJuego/buzoRight.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}
.enemy {
    background-size: contain; /* Ajusta la imagen para que quepa dentro de la celda */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.enemy-right {
    background-image: url(./ImagenJuego/shipRight.gif);
}

.enemy-left {
    background-image: url(./ImagenJuego/shipLeft.gif);
}

.enemy-up {
    background-image: url(./ImagenJuego/shipUp.gif);
}

.enemy-down {
    background-image: url(./ImagenJuego/shipDown.gif);
}
/* Rastro para las direcciones izquierda y derecha */
.rastro-vertical {
    background-image: url(./ImagenJuego/rastroVertical.png);
    background-size: cover;
    transition: opacity 0.1s; /* Desaparece después de 1 segundo */
}

/* Rastro para las direcciones arriba y abajo */
.rastro-horizontal {
    background-image: url(./ImagenJuego/rastroHorizontal.png);
    background-size: cover;
    transition: opacity 0.1s; /* Desaparece después de 1 segundo */
}
.SpeedBoost{
    background-image: url(./ImagenJuego/oxygen.png);
    background-size: cover;
}
.tiempo{
    display: flex;
    justify-content: space-around;
}
.tiempo img{
    width: 50px;
    height: 50px;
}
.tiempo h1, .score h1{
    color: white;
}
.tutorial-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}
.MensajeSecreto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    flex-direction: column;
}
.MensajeSecreto h1{
    color: white;
}

/* Estilo del contenido del modal */
.tutorial-content {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 400px;
    max-width: 1600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tutorial-content img{
    display: flex;
    width: 800px;
    height: 400px;
    padding: 0;
    margin: 0;
    min-width: 200px;
    min-height: 200px;
}

#startGameBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startGameBtn:hover {
    background-color: #45a049;
}
.tutorialKey {
    display: flex; /* Hace que los elementos hijos se alineen horizontalmente */
    flex-direction: row; /* Alinea los elementos en una fila */
    justify-content: center; /* Centra los elementos en el eje horizontal */
    align-items: center; /* Centra los elementos en el eje vertical */
    min-width: 200px;
    min-height: 200px;
    max-width: 1000px;
    border: solid black 1px;
    padding: 10px;
}
.Key, .Objective{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    height: 90px;
    max-height: 150px;
    margin: 10px;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
}
.Key img{
    max-width: 200px;
    max-height: 200px;
    min-width: 150px;
    min-height: 150px;
}
.tutorial-content h2, .tutorial-content p, button, h1, h2{
    margin: 0;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
}
.tutorial-content h2{
    font-size: 60px;
    margin-bottom: 20px;
}
.tutorial-content p{
    width: 600px;
    font-size: 25px;
}
.tutorial-content button{
    width: 100px;
    height: 50px;
    font-size: 20px;
}
/* Estilo para el reloj de arena */
#Reloj {
    animation: rotate 8s ease-in-out infinite; /* Aumenta la duración total de la animación a 8 segundos */
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    height: 400px;
}
.popup-content img{
    width: 100px;
    height: 100px;
}

.popup h2 {
    font-size: 90px;
    
}
#gameOverPopup h2{
    color: red;
}
#winPopup{
    color: green;
}

.popup p {
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
}

.popup button {
    padding: 10px 20px;
    margin: 5px;
    margin-top: 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid  rgb(255, 153, 0);
    background-color: rgb(255, 153, 0);
    transition: 1s ease;
}

.popup button:hover {
    border: 2px solid  rgb(255, 153, 0);
    background-color: transparent;
    color: rgb(255, 255, 255);
}




@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    40% {
        transform: rotate(180deg); 
    }
    45% {
        transform: rotate(180deg); 
    }
    70% {
        transform: rotate(360deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}
/* @media (max-width: 1700px) {
    #game-container{
        width: 1400px;
        height: 560px;
    }
    .cell {
        width: 28px;  
        height: 28px; 
    }
    #game {
        display: grid;
        grid-template-rows: repeat(30, 28px); 
        grid-template-columns: repeat(50, 28px);
    }
    .navegador{
        width: 1200;
        height: 100px;
    }
    .vida, .tiempo, .score{
        width: 150px;
        height: 30px;
    }
    img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1500px) {
    #game-container{
        width: 1200px;
        height: 480px;
    }
    .cell {
        width: 24px; 
        height: 24px;
    }
    #game {
        display: grid;
        grid-template-rows: repeat(30, 24px);  
        grid-template-columns: repeat(50, 24px);
    }
    .navegador{
        width: 700px;
        height: 80px;
    }
    .vida, .tiempo, .score{
        width: 200px;
        height: 25px;
    }
    img{
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 1250px) {
    #game-container{
        width: 1100px;
        height: 440px;
    }
    .cell {
        width: 22px;
        height: 22px;
    }
    #game {
        display: grid;
        grid-template-rows: repeat(30, 22px);
        grid-template-columns: repeat(50, 22px);
    }
    .navegador{
        width: 700px;
        height: 80px;
    }
    .vida, .tiempo, .score{
        width: 200px;
        height: 25px;
    }
    img{
        width: 25px;
        height: 25px;
    }
} */
