body{
    background-image: url('images/alcantarillas.png');
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vs;
    background-attachment: fixed;
}

.tutorial{
    position: absolute;
    top: auto;
    left: 22.5%;
    width: 1050px;
    height: 575px;    
    background-color: #2E2E2E;
    border-radius: 20px;
    z-index: 1; /* Pone por encima de todas las otras clases */
}

.contenido_tutorial{
    color: white;
    padding: 50px;
    width: 650px;
    height: 200px; 
    position: absolute;
    top: -10% ;
    left: 45%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.titulo_tutorial{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.descripcion1{
    max-width: 450px;
}

.descripcion1 b, .descripcion2 b ,.descripcion3 b{
    color: #FF7C02;
}
.descripcion2{
    max-width: 450px;
}
.descripcion3{
    max-width: 450px;
}

#cerrar_tutorial_btn{
    background-color: #FF7C02; 
    color: white;
    border: none;
    position: absolute;
    top: 180%;
    left: -45%;
    padding: 7px 15px;
    border-radius: 12px;
    width: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transition: all 0.3s ease;
    
}

#cerrar_tutorial_btn:hover{
    cursor: pointer;
    transform: scale(1.05); /* Añade un ligero escalado */
}

.imagen_tutorial{
    position: absolute;
    top: 45%;
    left: -50%;
    transition: all 0.3s ease;
}

.imagen_tutorial:hover{
    transform: scale(1.05);
}

.imagen_tutorial img{
    width: 280px;
}

.navAhorcado {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 130px; 
    z-index: 1000;
    background-color: rgba(75, 75, 75, 0.8); 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}

.flechaVolverAhorcado {
    transform: rotate(630deg);
    cursor: pointer;
    position: absolute;
    top: 22%;
    left: 1%;
    width: 70px;
}


.navLogin2 img{
    width: 50px;
}

/* .idioma{
    position: absolute;
    left: 87%;
}

.idioma img {
    width: 50px; 
    height: 50px; 
    border-radius: 70%;
    background-color: none;
    transition: transform 0.3s;
}

.idioma img:hover{
    transform: scale(1.1);
}

.idioma button {
    all: unset; 
    display: inline-block; 
    cursor: pointer; 
    margin: 5px;
} */


.container_colgado{
    margin: auto;
    margin-top: 220px;
    width: 1050px;
    height: 575px;
    display: flex;
    background-color: #2E2E2E;
    border-radius: 20px;
}

.Titulo{
    color: white;
    font-size: 35px;
    margin: 5px 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.letras p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}
.letras {
    margin: 0px 10px;
}

.instruccion{
    font-size: 30px;
}


.contenedor-dragNdrop {
    
    max-width: 375px;
    height: 150px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /* Alineación al inicio para no centrar todo */
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap; /* Permite que las letras se acomoden en varias filas si es necesario */
}

.dragNdrop {
    display: flex;
    flex-wrap: wrap; /* Permite que las letras se ajusten a varias líneas */
    justify-content: flex-start; /* Alineación horizontal de las letras */
    align-items: center;
    font-size: large;
    overflow: hidden;
}

.letter {
    background-color: #FF7C02;
    color: white;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    padding: 4px 13px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, transform 0.3s, color 0.3s, opacity 0.3s;
    margin: 3px; /* Agregar margen entre las letras */
}

.letter:hover {
    transform: scale(1.1); /* Añade un ligero escalado */
    background-color: #ff9838;    
}

.letter.used-letter {
    color: white !important; /* Cambia el color del texto */
    background-color: #464646 !important; /* Cambia el fondo */
    cursor: not-allowed;
    opacity: 0.7;
}


#reiniciar-lose, #continuar, #reiniciar-win {
    background-color: #FF7C02; 
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 12px;
    width: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    transition: all 0.3s ease;
}


#reiniciar-lose{
    position: absolute;
    top: 60%; /* Centra verticalment */
    left: 67.5%; /* Centra horitzontalment */
    text-align: center;
    transition: all 0.1s ease; /* Añade una transición suave */
    
}

#reiniciar-win{
    position: absolute;
    top: 60%; /* Centra verticalment */
    left: 85%; /* Centra horitzontalment */
}

#continuar{
    position: absolute;
    top: 60%; /* Centra verticalment */
    left: 52%; /* Centra horitzontalment */
}

.fin-juego button:hover{    
    cursor: pointer;
    transform: scale(1.05); /* Añade un ligero escalado */
}


.container_colgado .col_colgado{
    flex: 1;
}

.palabraEscondida{
    
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.resultado{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 115%; /* Centra verticalment */
    left: 140%; /* Centra horitzontalment */
    transform: translate(-120%, -190%); /* Centra exactament al mig */
    color: white;
    font-size: 3rem;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    background-color: rgba(40, 40, 40, 0.9);
}

.siguiente-nivel{
    
    position: absolute;
    top: 155%; /* Centra verticalment */
    left: 140%; /* Centra horitzontalment */
    transform: translate(-138%, -167%); /* Centra exactament al mig */
    color: white;
    font-size: 3rem;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    background-color: rgba(40, 40, 40, 0.95);
}

.depuradora{
    width: 630px;
    height: 550px;
    border-radius: 20px;
    position: relative; 
}

#depuradora{
    width: 590px;
    height: 500px;
    top: 7.4%; /* Centra verticalment */
    left: 4%; /* Centra horitzontalment */
    border-radius: 25px;
    position: relative; 
}

.puntaje{
    position: absolute;
    top: 10%;
    left: 78%;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;  
    color: rgba(40, 40, 40,);
    
}



#corazon1{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 26%;
}

#corazon2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 36%;
}

#corazon3{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 46%;
}

#corazon4{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 56%;
}

#corazon5{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 66%;
}

#corazon-roto1{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10.5%;
    left: 26.5%;
}

#corazon-roto2{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10.5%;
    left: 36.5%;
}

#corazon-roto3{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10.5%;
    left: 46.5%;
}

#corazon-roto4{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10.5%;
    left: 56.5%;
}
#corazon-roto5{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10.5%;
    left: 66.5%;
}


.contenedor1 {
    background-color: #7F7F7F;
    width: 94px;
    height: 60px; /* Esta altura será la altura original antes de la deformación */
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    top: 43.7%; /* Centra verticalmente */
    left: 12.5%; /* Centra horizontalmente */
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */
}


.contenedor2{
    background-color: #7F7F7F;
    width: 94px ;
    height: 60px;
    border-radius: 0px 0px 12px 12px ;
    position: absolute;
    transform: translate(100%, 100%);
    top: 44.2%; /* Centra verticalment */
    left: 36.7%; /* Centra horitzontalment */
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */
}

.contenedor3{
    background-color: #7F7F7F;
    width: 94px ;
    height: 60px;
    border-radius: 0px 0px 12px 12px ;
    position: absolute;
    transform: translate(100%, 100%);
    top: 61.1%; /* Centra verticalment */
    left: 59.12%; /* Centra horitzontalment */
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */
}

.contenedor4{
    background-color: #7F7F7F;
    width: 94px ;
    height: 60px;
    border-radius: 0px 0px 12px 12px ;
    position: absolute;
    transform: translate(100%, 100%);
    top: 61.1%; /* Centra verticalment */
    left: 36.7%; /* Centra horitzontalment */
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */
}

.contenedor5{
    background-color: #7F7F7F;
    width: 94px ;
    height: 60px;
    border-radius: 0px 0px 12px 12px ;
    position: absolute;
    transform: translate(100%, 100%);
    top: 61.1%; 
    left: 12.3%;
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */ 
}

.contenedor6{
    background-color: #7F7F7F;
    width: 94px ;
    height: 60px;
    border-radius: 0px 0px 12px 12px ;
    position: absolute;
    transform: translate(100%, 100%);
    top: 77%; 
    left: 12.3%; 
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */
}

.contenedor7{
    background-color: #7F7F7F;
    width: 94px ;
    height: 60px;
    border-radius: 0px 0px 12px 12px ;
    position: absolute;
    transform: translate(100%, 100%);
    top: 77%; 
    left: 36.7%;
    transform-origin: top; /* Para que la deformación ocurra desde el borde superior */
    transition: transform 1s ease; /* Transición de transformación (scaleY) durante 1 segundo */ 
}

.tuberia_horizontal1{
    background-color: #7F7F7F;
    width: 59px ;
    height: 10px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 47%;
    left: 18%;
}

.tuberia_horizontal2{
    background-color: #7F7F7F;
    width: 100px ;
    height: 10px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 47%; 
    left: 35.6%; 
}


.tuberia_horizontal3{
    background-color: #7F7F7F;
    width: 48.5px ;
    height: 10px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 63.28%; 
    left: 43.73%; 
}

.tuberia_horizontal4{
    background-color: #7F7F7F;
    width: 61px ;
    height: 10px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 63.3%; 
    left: 17.2%; 
}

.tuberia_horizontal5{
    background-color: #7F7F7F;
    width: 61px ;
    height: 10px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 79.4%; 
    left: 17.32%; 
}

.tuberia_horizontal6{
    background-color: #7F7F7F;
    width: 184px ;
    height: 9.5px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 79.6%; 
    left: 22.32%; 
}

.tuberia_horizontal7{
    background-color: #7F7F7F;
    width: 390px ;
    height: 9.5px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 33.5%; 
    left: -43.2%; 
}

.tuberia_vertical1{
    background-color: #7F7F7F;
    width: 9.8px ;
    height: 56.5px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 40.5%; 
    left: 64.21%; 
}

.tuberia_vertical2{
    background-color: #7F7F7F;
    width: 9.8px ;
    height: 28px;
    position: absolute;
    transform: translate(100%, 100%);
    top: 66.8%; 
    left: 17.21%; 
}

.tuberia_vertical3{
    background-color: #7F7F7F;
    width: 9.8px ;
    height: 250px;
    position: absolute;
    transform: translate(100%, 100%);
    top: -9.4%; 
    left: 77.55%; 
}

/* Adaptive para "moviles" */

/* Media Query for screens up to 576px */
@media (max-width: 576px) {
    .navAhorcado {
        height: 80px;
        padding: 0 10px;
    }

    .flechaVolverAhorcado {
        width: 40px;
    }

    .idioma img {
        width: 35px;
        height: 35px;
    }

    #reiniciar-lose, #continuar, #reiniciar-win button{
       
        padding: 5px 10px;
        border-radius: 12px;
        width: 130px;
        font-size: 20px;
    }
    
    
    #reiniciar-lose{
        position: absolute;
        top: 40%; /* Centra verticalment */
        left: 35.5%; /* Centra horitzontalment */
        
    }
    
    #reiniciar-win{
        position: absolute;
        top: 60%; /* Centra verticalment */
        left: 85%; /* Centra horitzontalment */
    }
    
    #continuar{
        position: absolute;
        top: 60%; /* Centra verticalment */
        left: 52%; /* Centra horitzontalment */
    }
    
    .fin-juego button:hover{    
        cursor: pointer;
        transform: scale(1.05); /* Añade un ligero escalado */
    }
    
    
    .palabraEscondida{
        
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    
    .resultado{
        
        top: 85%; /* Centra verticalment */
        left: 80%; /* Centra horitzontalment */
        border-radius: 10px;    
        width: 300px;
        height: 200px;
        font-size: 30px;
    }

    
}