* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../img/fondo.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.ranking {
    display: flex;
    flex-direction: column;
    
}

.rank-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.pastilla-posicion{
    background-color: #d0e4f7;
    border-radius: 22px;
    padding: 10px 20px;
    border-width: 1px;
    box-shadow: 2px 2px 3px #0F65B5;
    margin: 0px 15px;
}

.pastilla-nombre{
    background-color: white;
    border-radius: 22px;
    padding: 10px 20px;
    border-width: 5px;
    border-color: #0F65B5;
    margin: 0px 15px;
}

.pastilla-puntos{
    background-color: #3484CE;
    border-radius: 22px;
    padding: 10px 20px;
    border-width: 1px;
    border-color: #0F65B5;
    margin: 0px 15px;
}



.rank-number {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    
}

.rank-name {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.rank-score{
    width: 200px;
     margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}
.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    font-size: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.user-icon {
    color: #000;
}

.star-icon {
    color: gold;
}
